@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  text-transform: uppercase;
}

/* ==== REUSABLE ==== */

.color-primary {
  color: var(--color-primary);
}

.background-dark {
  background-color: var(--color-background-secondary);
}

.background-light {
  background-color: var(--color-background-primary);
}

.hidden {
  display: none;
}

.price-line-through {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* ==== HEADER ==== */

.header-upper,
.header-dropdown-div {
  display: flex;
  justify-content: space-between;
}

#header-upper-right-mobile {
  display: flex;
  align-items: center;
}

.header-dropdown-div a {
  text-decoration: none;
}

.breadcrumbs ul {
  list-style: none;
}

.logo {
  text-decoration: none;
}

/* ==== FOOTER ==== */

footer {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
}

footer li a {
  text-decoration: none;
}

.links-general,
.links-for-customers {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  row-gap: 15px;
  grid-template-areas:
    "one four"
    "two five"
    "three six";
}

.footer-grid-item-one {
  grid-area: one;
}

.footer-grid-item-two {
  grid-area: two;
}

.footer-grid-item-three {
  grid-area: three;
}

.footer-grid-item-four {
  grid-area: four;
}

.footer-grid-item-five {
  grid-area: five;
}

.footer-grid-item-six {
  grid-area: six;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
}

/* ==== OFTEN OCCURRING MARGINS/PADDING ==== */

main {
  margin: var(--big-distance-mobile) var(--small-distance-mobile);
}

.cart-summary h3 {
  margin: 40px 0;
}

.product-grid-section {
  margin-left: var(--small-distance-mobile);
  margin-right: var(--small-distance-mobile);
}

#login-submit,
#register-submit {
  margin: var(--small-distance-mobile) 0 var(--medium-distance-mobile) 0;
}

.product-start-cta {
  margin: 0 5px;
}

.checkout-summary h3,
.success-summary h3 {
  margin-bottom: 40px;
}

.social-media-footer,
.cart-products > button {
  margin-top: var(--medium-distance-mobile);
}

.footer-links {
  margin-top: var(--small-distance-mobile);
}

.carousel,
.product-grid-section h2,
.specific-product-information,
.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.specific-product-reviews-and-tags div,
.cart-h1,
.cart-products > button,
.summary-totals-cart,
.summary-table-cart > div,
.checkout-main-heading,
.checkout-main-heading-2,
.summary-table-checkout > div,
.checkout-summary,
.checkout-form-delivery-address,
.main-success h2,
.success-success-message,
.items-success h4,
.success-summary,
#continue-shopping-button,
.login-page h1,
.login-page > p,
.form-login p,
.register-page h1,
.register-page p {
  margin-bottom: var(--big-distance-mobile);
}

.footer-links,
.specific-product-information h3,
.specific-product-information div,
.specific-product-reviews-and-tags h3,
.specific-product-reviews-and-tags > p,
.checkout-form-payment-option,
.success-success-message h3,
.summary-details-success h4,
.summary-table-success,
#password-register-page-repeat {
  margin-bottom: var(--medium-distance-mobile);
}

footer h3,
.product-container-start > *,
.product-container-start img,
.specific-product img,
.review-text,
.checkout-form-delivery-address input,
.summary-detail-success,
.summary-item-success,
.social-media-success h3,
.form-login input,
.form-register input {
  margin-bottom: var(--small-distance-mobile);
}

.summary-totals-item-cart,
.summary-totals-shipping-cart,
.summary-totals-item-checkout,
.summary-totals-shipping-checkout,
.checkout-form legend {
  margin-bottom: 15px;
}

.social-media-footer,
#summary-totals-checkout,
#summary-totals-total-checkout.breadcrumbs,
#postal-code-checkout,
#log-to-reg-text,
#reg-to-log-text {
  margin-bottom: 0;
}

.login-page,
.register-page {
  padding: var(--big-distance-mobile) var(--small-distance-mobile);
}

footer {
  padding: var(--medium-distance-mobile) var(--small-distance-mobile);
}

.product-container-start h3,
.product-container-start div,
.summary-item-success-details {
  padding: 0 5px;
}

.specific-product-information,
.specific-product-reviews-and-tags {
  padding-bottom: var(--medium-distance-mobile);
}

.summary-categories-cart,
.summary-items-cart,
.summary-categories-checkout,
.summary-items-checkout {
  padding-bottom: var(--small-distance-mobile);
}

.header-upper,
.header-dropdown-div,
.breadcrumbs,
.cart-summary,
.summary-table-checkout,
.checkout-form-delivery-address input,
.payment-option-div,
.success-summary,
#email-login-page,
#password-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat {
  padding: var(--small-distance-mobile);
}

button,
#discount-code-input,
#discount-code-apply-button,
#checkout-submit,
#login-submit,
#register-submit {
  padding: 8px;
}

.carousel-cta {
  padding: 6px;
}

.cart-product-information {
  padding: 5px;
}

.qty-picker-spec-product button {
  padding: 2px;
}

.qty-picker-cart button {
  padding: 1px;
}

.carousel-item-information-window {
  padding: 12px 23px;
}

.carousel-item-information-window-alt {
  padding: 10px;
}

.product-start-numbers-container,
.carousel-directional-buttons,
.specific-product-prices,
.qty-picker-spec-product,
.cart-products,
.cart-product-prices,
.register-checkbox-div {
  gap: var(--small-distance-mobile);
}

.qty-picker-cart,
.payment-input-div,
.summary-item-success-details {
  gap: 5px;
}

.payment-options-div {
  gap: 3px;
}

/* Needed to overwrite prev properly */

.specific-product-information,
.success-summary {
  padding-bottom: 0;
}

/* ==== BORDERS ==== */

.cart-summary,
#discount-code-input,
.payment-option-container,
.summary-table-checkout,
.success-summary,
.checkout-form-delivery-address input,
.login-page,
.register-page,
#email-login-page,
#password-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat {
  border: solid 2px var(--color-primary);
}

#debit-credit-card {
  border-color: var(--color-primary);
}

.payment-option-img-container {
  border: solid 1px #cad0d8;
}

.product-container-start,
.cart-product,
.summary-item-success {
  border: solid 2px var(--color-primary);
  border-top: none;
  border-right: none;
}

.header-upper,
.header-dropdown-div {
  border-bottom: solid 4px var(--color-primary);
}

.breadcrumbs,
.specific-product-information,
.specific-product-reviews-and-tags,
.summary-categories-cart,
.summary-items-cart,
.summary-categories-checkout,
.summary-items-checkout,
.payment-option-div,
.summary-details-success {
  border-bottom: solid 2px var(--color-primary);
}

.footer-header {
  border-bottom: solid 1px var(--color-text-secondary);
}

button,
fieldset,
#discount-code-apply-button,
.payment-option-amex,
.payment-option-klarna,
#payment-option-bottom,
#checkout-submit,
#login-submit,
#register-submit {
  border: none;
}

.footer-links img,
.carousel-directional-buttons button,
.qty-picker-spec-product button,
.qty-picker-cart button,
.social-media-success-icon img {
  border-radius: 50%;
}

.carousel-item-information-window,
.carousel-item-information-window-alt {
  border-radius: 15px;
}

button,
fieldset,
#discount-code-apply-button,
.checkout-form-delivery-address input,
.payment-option-container,
#payment-option-bottom,
#checkout-submit,
#login-submit,
#register-submit,
#email-login-page,
#password-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat {
  border-radius: 4px;
}

/* ==== FONT-FAMILIES ==== */

.logo,
h1,
.main-hero-image-text,
.product-grid-section h2,
.cart-summary h3,
.summary-table-checkout h3,
.checkout-main-heading,
.checkout-main-heading-2,
.main-success h2,
.success-summary h3 {
  font-family: var(--font-logo), sans-serif;
}

footer h3,
.carousel-item-information-window-alt h3,
.product-start-name,
.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.cart-product-information h4,
.summary-item-cart h5,
.summary-totals-cart h5,
.summary-item-checkout h5,
.summary-totals-item-checkout h5,
.summary-totals-shipping-checkout h5,
#summary-totals-total-checkout h5,
.checkout-form-delivery-address legend,
.checkout-form-payment-option legend,
.checkout-form-payment-option label,
.success-success-message h3,
.summary-details-success h4,
.summary-detail-success h5,
.items-success h4,
.success-item-header,
.success-item-qty,
.social-media-success h3,
.login-page h1,
.register-page h1 {
  font-family: var(--font-headers), sans-serif;
}

.header-dropdown-div a,
footer li a,
button,
.specific-product-information h3,
.review-name,
#discount-code-input,
#discount-code-apply-button,
#checkout-submit,
.login-page > p,
.register-page > p,
#password-login-page,
#login-submit,
#register-submit {
  font-family: var(--font-sub-headers-and-buttons), sans-serif;
}

.carousel-item-information-window-alt p,
.product-start-numbers-container p,
.specific-product-prices p,
.qty-picker-and-size-btn-specific-product > *,
.cart-product-prices p,
.qty-picker-spec-product p,
.qty-picker-cart p,
.summary-item-cart p,
.summary-totals-cart p,
.summary-item-checkout p,
.summary-totals-item-checkout p,
.summary-totals-shipping-checkout p,
#summary-totals-total-checkout p,
.success-item-price {
  font-family: var(--font-numbers);
}

.breadcrumbs ul li,
.review-text,
.specific-product-reviews-and-tags a,
.summary-categories-cart h4,
.summary-categories-checkout h4,
.checkout-form-delivery-address input,
.success-success-message p,
.summary-detail-success p,
#email-login-page,
#password-login-page,
.form-login p,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat,
.register-page label,
.register-page p {
  font-family: var(--font-text);
}

/* ==== FONT-SIZES ==== */

.qty-picker-spec-product p,
.specific-product-stars p {
  font-size: 32px;
}

.logo,
h1,
.product-grid-section h2,
.specific-product-prices p,
.qty-picker-spec-product button,
.cart-summary h3,
.summary-table-checkout h3,
.checkout-main-heading,
.checkout-main-heading-2,
.main-success h2,
.success-summary h3 {
  font-size: 24px;
}

#header-upper-right-mobile i,
.header-dropdown-div a,
.carousel-item-information-window-alt p,
.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.qty-picker-cart p,
.checkout-form-delivery-address legend,
.checkout-form-payment-option legend {
  font-size: 20px;
}

footer h3,
.main-hero-image-text,
.product-start-number-stars p,
.specific-product-information h3,
.review-name,
.cart-stars p,
.success-success-message h3,
.summary-details-success h4,
.items-success h4,
.social-media-success h3,
.social-media-success-2 h3 {
  font-size: 16px;
}

.carousel-item-information-window-alt h3,
.product-start-numbers-container p,
.review-text,
.tag,
.cart-product-prices p,
.clear-cart-button,
#discount-code-input,
#discount-code-apply-button,
.success-item-price {
  font-size: 14px;
}

.summary-categories-cart h4,
.summary-item-cart p,
.summary-totals-cart p,
.qty-picker-cart button,
.summary-categories-checkout h4,
.summary-item-checkout p,
.summary-totals-item-checkout p,
.summary-totals-shipping-checkout p,
#summary-totals-total-checkout p,
.checkout-form-delivery-address input,
#email-login-page,
#password-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat,
#login-submit,
#register-submit {
  font-size: 13px;
}

.breadcrumbs ul li,
footer li a,
.product-start-name,
.add-to-cart-button,
.share-button,
.cart-product-information h4,
.summary-table-cart button,
.checkout-form-payment-option label,
#checkout-submit,
.success-success-message p,
.success-item-header,
.success-item-qty,
#continue-shopping-button,
#continue-shopping-button-2,
.login-page > p,
.register-page > p,
.form-login > p,
.form-register > p {
  font-size: 12px;
}

.product-start-cta,
.summary-item-cart h5,
.summary-totals-cart h5,
.summary-item-checkout h5,
.summary-totals-item-checkout h5,
.summary-totals-shipping-checkout h5,
#summary-totals-total-checkout h5,
.summary-detail-success h5,
.summary-detail-success p,
.register-checkbox-div label {
  font-size: 10px;
}

.carousel-cta {
  font-size: 8px;
}

/* ==== FONT-WEIGHT ==== */

.product-start-name,
.product-start-numbers-container p,
.specific-product-information h3,
.cart-product-information h4,
.summary-categories-cart h4,
.summary-categories-checkout h4,
.summary-item-cart h5,
.summary-totals-item-cart h5,
.summary-totals-shipping-cart h5,
.summary-totals-total-cart h5,
.summary-item-checkout h5,
.summary-totals-item-checkout h5,
.summary-totals-shipping-checkout h5,
#summary-totals-total-checkout h5,
.summary-detail-success h5,
.success-item-header {
  font-weight: 400;
}

/* **KEEP** FONT: --font-headers */

.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.checkout-form-delivery-address legend,
.checkout-form-payment-option legend,
.success-success-message h3,
.summary-details-success h4,
.items-success h4,
.social-media-success h3,
.social-media-success-2 h3,
.login-page h1,
.register-page h1 {
  font-weight: 600;
}

/* **KEEP** FONT: --font-sub-headers-and-buttons */

.review-name {
  font-weight: 500;
}

/* **KEEP** FONT: --font-numbers */

/* **KEEP** FONT: --font-text */

.summary-categories-cart h4,
.summary-categories-checkout h4 {
  font-weight: 500;
}

.review-text,
.summary-detail-success p {
  font-weight: 300;
}

/* ==== COLOR ==== */

footer,
.carousel button,
.product-start-cta,
.add-to-cart-button,
#discount-code-apply-button,
.summary-table-cart button,
#checkout-submit,
#continue-shopping-button,
#continue-shopping-button-2,
#login-submit,
#register-submit {
  background-color: var(--color-primary);
}

.carousel button:hover,
.product-start-cta:hover,
.add-to-cart-button:hover,
#discount-code-apply-button:hover,
.summary-table-cart button:hover,
#checkout-submit:hover,
#continue-shopping-button:hover,
#continue-shopping-button-2:hover,
#login-submit:hover,
#register-submit:hover {
  background-color: var(--color-primary-hover);
}

.product-container-start,
.cart-product,
.checkout-form-delivery-address input,
.summary-item-success,
#email-login-page,
#password-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat {
  background-color: var(--color-background-tertiary);
}

.carousel-item-information-window,
.carousel-item-information-window-alt {
  background-color: #ffffff99;
}

.share-button {
  background-color: var(--color-share-button);
}

.share-button:hover {
  background-color: var(--color-share-button-hover);
}

.clear-cart-button {
  background-color: var(--color-clear-cart-button);
}

.clear-cart-button:hover {
  background-color: var(--color-clear-cart-button-hover);
}

.add-button {
  background-color: var(--color-add-button);
}

.add-button:hover {
  background-color: var(--color-add-button-hover);
}

.subtract-button {
  background-color: var(--color-subtract-button);
}

.subtract-button:hover {
  background-color: var(--color-subtract-button-hover);
}

.main-hero-image-text,
.product-grid-section h2,
.cart-h1,
.trashcan-cart i,
.checkout-main-heading,
.checkout-main-heading-2,
.success-success-message h2 {
  color: var(--color-primary);
}

.logo,
.header-dropdown-div a,
.tag {
  color: var(--color-text);
}

footer h3,
footer li a,
.carousel button,
.product-start-cta,
.add-to-cart-button,
#discount-code-apply-button,
.summary-table-cart button,
#checkout-submit,
#continue-shopping-button,
#continue-shopping-button-2,
#login-submit,
#register-submit {
  color: var(--color-text-secondary);
}

.product-start-number-stars p,
.specific-product-stars p,
.cart-stars p {
  color: var(--color-stars-filled);
}

footer li a:hover {
  color: #ebebeb;
}

.checkout-form-payment-option input,
#checkbox-tos-and-pp,
#checkbox-offers-and-news {
  accent-color: var(--color-primary);
}

/* ==== HEIGHT/WIDTH ==== */

.cart-product img {
  min-height: 104px;
}

.footer-links img {
  height: 50px;
  width: 50px;
}

.payment-option-img-container {
  height: 23px;
  width: 32px;
}

.payment-option-img-container img,
.social-media-success img,
.social-media-success-2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.payment-option-amex img,
.payment-option-klarna img {
  object-fit: fill;
}

.carousel-container {
  width: 300%;
}

img,
.footer-links,
.footer-header,
.carousel-item,
.cart-product,
.checkout-form-delivery-address input,
#checkout-submit,
#continue-shopping-button,
#continue-shopping-button-2,
.register-checkbox-div,
#password-login-page,
#email-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat {
  width: 100%;
}

.product-start-cta {
  width: 95%;
}

.clear-cart-button {
  width: 90%;
}

#login-submit,
#register-submit {
  width: 70%;
}

.carousel-item-information-window-alt button,
#discount-code-input {
  width: 60%;
}

.cart-product-information {
  width: 55%;
}

.add-to-cart-button {
  width: 50%;
}

.cart-product img,
.summary-item-success img {
  width: 45%;
}

.share-button,
#discount-code-apply-button {
  width: 35%;
}

.social-media-success-2 .social-media-success-icon {
  width: 15%;
}

.social-media-success-icon {
  width: 10%;
}

.qty-picker-spec-product button {
  min-width: 35px;
}

.qty-picker-cart button {
  min-width: 22px;
}

/* ==== START PAGE ==== */

#header-upper-search {
  display: none;
}

#header-upper-right-tablet-and-desktop {
  display: none;
}

#main-start {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.carousel-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto;
  position: relative;
  left: -100%;
}

#carousel-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}

#carousel-item-1 {
  grid-area: 1 / 3 / 2 / 4;
}

#carousel-item-3 {
  grid-area: 1 / 1 / 2 / 2;
}

.carousel-item-information-window,
.carousel-item-information-window-alt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-hero-image-text {
  display: flex;
  flex-direction: column;
}

.carousel-item {
  display: grid;
  grid-template-columns: 5% 53% 37% 5%;
  grid-template-rows: 20% 50% 30%;
}

#carousel-item-2,
#carousel-item-3 {
  grid-template-rows: 17% 55% 28%;
  grid-template-columns: 5% 50% 40% 5%;
}

.carousel-item img {
  grid-area: 1 / 1 / 4 / 5;
}

.carousel-item-information-window,
.carousel-item-information-window-alt {
  grid-area: 2 / 2 / 3 / 3;
}

.carousel-item-information-window-alt button {
  align-self: center;
}

.carousel-directional-buttons {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-directional-buttons {
  /* MAKE STAY IN PLACE AFTER JS */
}

.product-grid {
  display: grid;
  grid-template-columns: 48% 4% 48%;
  grid-template-rows: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
}

#product-1 {
  grid-area: 1 / 1 / 2 / 2;
}
#product-2 {
  grid-area: 1 / 3 / 2 / 4;
}
#product-3 {
  grid-area: 3 / 1 / 4 / 2;
}
#product-4 {
  grid-area: 3 / 3 / 4 / 4;
}
#product-5 {
  grid-area: 5 / 1 / 6 / 2;
}
#product-6 {
  grid-area: 5 / 3 / 6 / 4;
}
#product-7 {
  grid-area: 7 / 1 / 8 / 2;
}
#product-8 {
  grid-area: 7 / 3 / 8 / 4;
}
#product-9 {
  grid-area: 9 / 1 / 10 / 2;
}
#product-10 {
  grid-area: 9 / 3 / 10 / 4;
}
#product-11 {
  grid-area: 11 / 1 / 12 / 2;
}
#product-12 {
  grid-area: 11 / 3 / 12 / 4;
}

.product-container-start {
  display: flex;
  flex-direction: column;
}

.product-start-numbers-container {
  display: flex;
}

.product-start-number-stars {
  display: flex;
}

.product-start-number-stars p {
  position: relative;
  bottom: 4px;
}

.product-start-cta {
  align-self: center;
}

/* ==== SPEC PRODUCT PAGE ==== */

.specific-product-prices {
  display: flex;
}

.specific-product-stars {
  display: flex;
}

.specific-product-stars p {
  position: relative;
  bottom: 4px;
}

.qty-picker-spec-product {
  display: flex;
}

.specific-product-ctas {
  display: flex;
  justify-content: space-between;
}

/* ==== CART PAGE ==== */

.cart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-product {
  display: flex;
}

.cart-product-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-product-prices {
  display: flex;
}

.cart-stars {
  display: flex;
}

.cart-stars p {
  position: relative;
  bottom: 2px;
}

.qty-picker-cart {
  display: flex;
}

.cart-summary form {
  display: flex;
  justify-content: space-between;
}

.summary-table-cart {
  display: flex;
  flex-direction: column;
}

.summary-categories-cart,
.summary-item-cart {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.summary-totals-item-cart,
.summary-totals-shipping-cart,
.summary-totals-total-cart {
  display: flex;
  justify-content: space-between;
}

/* ==== CHECKOUT ==== */

.summary-categories-checkout,
.summary-item-checkout {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.summary-totals-item-checkout,
.summary-totals-shipping-checkout,
#summary-totals-total-checkout {
  display: flex;
  justify-content: space-between;
}

.payment-input-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.payment-options-div {
  display: flex;
  gap: 3px;
}

.payment-option-div {
  display: flex;
  justify-content: space-between;
}

.checkout-main-heading-2 {
  display: none;
}

/* ==== SUCCESS ==== */

.summary-detail-success {
  display: flex;
  justify-content: space-between;
}

.summary-item-success {
  display: flex;
}

.summary-item-success-details {
  display: flex;
  flex-direction: column;
}

.social-media-success-icons {
  display: flex;
  justify-content: space-between;
}

#continue-shopping-button-2,
.social-media-success-2 {
  display: none;
}

/* ==== LOGIN/REGISTER PAGE ==== */

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-checkbox-div {
  display: flex;
}

/* ============ TEMPORARY. DELETE LATER. ============ */

.temporary-navigation {
  padding: 20px 0;
}

/* ==== RESPONSIVE DESIGN ==== */

@media screen and (min-width: 360px) {
  .carousel-item-information-window {
    padding: 16px 30px;
  }

  .carousel-item-information-window-alt {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 390px) {
  .carousel-item-information-window h3 {
    font-size: 18px;
  }

  .carousel-item-information-window button {
    font-size: 12px;
  }

  .carousel-directional-buttons button {
    font-size: 16px;
  }

  .register-checkbox-div label {
    font-size: 12px;
  }
}

@media screen and (min-width: 414px) {
  .carousel-item-information-window h3 {
    font-size: 20px;
  }

  .carousel-item-information-window button {
    font-size: 14px;
  }

  .tag {
    font-size: 16px;
  }
}

@media screen and (min-width: 470px) {
  .carousel-item-information-window h3 {
    font-size: 24px;
  }

  .carousel-item-information-window button {
    font-size: 18px;
  }
}

@media screen and (min-width: 600px) {
  main {
    margin: var(--big-distance-tablet) var(--small-distance-tablet);
  }

  .product-grid-section {
    margin-left: var(--small-distance-tablet);
    margin-right: var(--small-distance-tablet);
  }

  #continue-shopping-button-2 {
    margin-top: var(--medium-distance-tablet);
  }

  .carousel,
  .product-grid-section h2,
  .specific-product-information,
  .cart-h1,
  .cart-products > button,
  .summary-totals-cart,
  .checkout-main-heading,
  .checkout-main-heading-2,
  .checkout-summary,
  .main-success h2,
  .success-success-message,
  .success-summary,
  #continue-shopping-button,
  .login-page h1,
  .login-page > p,
  .form-login p,
  .register-page h1,
  .register-page p {
    margin-bottom: var(--big-distance-tablet);
  }

  .footer-links,
  .checkout-form-payment-option,
  .success-success-message h3,
  .summary-details-success h4,
  #continue-shopping-button-2,
  .summary-table-success,
  #password-register-page-repeat {
    margin-bottom: var(--medium-distance-tablet);
  }

  .specific-product img,
  .summary-table-success,
  .items-success h4,
  .summary-detail-success,
  .summary-item-success,
  .social-media-success h3,
  .social-media-success-2 h3,
  .form-login input,
  .form-register input {
    margin-bottom: var(--small-distance-tablet);
  }

  .header-upper,
  .breadcrumbs {
    padding: var(--small-distance-tablet);
  }

  footer {
    padding: var(--medium-distance-tablet) var(--small-distance-tablet);
  }

  .login-page,
  .register-page {
    padding: var(--big-distance-tablet) var(--medium-distance-tablet);
  }

  h1,
  .checkout-main-heading,
  .checkout-main-heading-2,
  .success-success-message h2 {
    font-size: 32px;
  }

  .carousel-item-information-window-alt p {
    font-size: 26px;
  }

  .carousel-item-information-window-alt h3 {
    font-size: 19px;
  }

  #login-submit,
  #register-submit {
    font-size: 17px;
  }

  .add-to-cart-button,
  .share-button,
  .login-page p,
  .register-page p,
  .register-checkbox-div label,
  #email-login-page,
  #password-login-page,
  #username-register-page,
  #email-register-page,
  #password-register-page,
  #password-register-page-repeat {
    font-size: 16px;
  }

  .carousel-item-information-window-alt button {
    font-size: 14px;
  }

  .carousel-container {
    width: 240%;
    left: -70%;
  }

  .product-grid {
    grid-template-rows: auto 20px auto 20px auto 20px auto;
    grid-template-columns: 32% 2% 32% 2% 32%;
  }

  #product-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #product-2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  #product-3 {
    grid-area: 1 / 5 / 2 / 6;
  }
  #product-4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #product-5 {
    grid-area: 3 / 3 / 4 / 4;
  }
  #product-6 {
    grid-area: 3 / 5 / 4 / 6;
  }
  #product-7 {
    grid-area: 5 / 1 / 6 / 2;
  }
  #product-8 {
    grid-area: 5 / 3 / 6 / 4;
  }
  #product-9 {
    grid-area: 5 / 5 / 6 / 6;
  }
  #product-10 {
    grid-area: 7 / 1 / 8 / 2;
  }
  #product-11 {
    grid-area: 7 / 3 / 8 / 4;
  }
  #product-12 {
    grid-area: 7 / 5 / 8 / 6;
  }

  .product-container-start a {
    margin-bottom: 0;
  }

  .cart {
    display: flex;
    justify-content: space-between;
  }

  .cart-products {
    width: 50%;
  }

  .cart-summary {
    width: 43%;
    position: absolute;
    right: var(--small-distance-tablet);
  }

  .section-success {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 48% 4% 48%;
  }

  #continue-shopping-button,
  .social-media-success {
    display: none;
  }

  #continue-shopping-button-2,
  .social-media-success-2 {
    display: initial;
  }

  .success-success-message {
    grid-area: 1 / 1 / 2 / 2;
  }

  .social-media-success {
    grid-area: 3 / 1 / 4 / 2;
  }

  .success-summary {
    grid-area: 1 / 3 / 3 / 4;
  }

  #checkbox-tos-and-pp,
  #checkbox-offers-and-news {
    height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: 744px) {
  footer {
    padding: 64px 128px;
  }

  .footer-links {
    margin-top: var(--small-distance-tablet);
    margin-bottom: 0;
  }

  .links-for-customers,
  .links-general {
    row-gap: 10px;
  }

  .footer-links img {
    height: 40px;
    width: 40px;
  }

  .carousel {
    margin-left: var(--small-distance-tablet);
    margin-right: var(--small-distance-tablet);
  }

  .carousel {
    overflow: hidden;
  }

  .carousel-container {
    width: 200%;
    left: -50%;
  }

  .breadcrumbs a {
    font-size: 16px;
  }

  #header-upper-right-mobile {
    display: none;
  }

  .header-upper div {
    display: flex;
    align-items: center;
  }

  #header-upper-search {
    display: flex;
    width: 60%;
  }

  #header-upper-right-tablet-and-desktop {
    display: flex;
    gap: 10px;
  }

  #header-upper-right-tablet-and-desktop a {
    color: var(--color-text);
    font-size: 22px;
  }

  #searchbar-tablet-and-desktop {
    padding: 10px 10px 10px 30px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: none;
    background-color: #cad0d8;
  }

  #search-icon-searchbar {
    position: relative;
    left: 25px;
  }

  .product-grid {
    grid-template-rows: auto 20px auto 20px auto;
    grid-template-columns: 24% auto 24% auto 24% auto 24%;
  }

  #product-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #product-2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  #product-3 {
    grid-area: 1 / 5 / 2 / 6;
  }
  #product-4 {
    grid-area: 1 / 7 / 2 / 8;
  }
  #product-5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #product-6 {
    grid-area: 3 / 3 / 4 / 4;
  }
  #product-7 {
    grid-area: 3 / 5 / 4 / 6;
  }
  #product-8 {
    grid-area: 3 / 7 / 4 / 8;
  }
  #product-9 {
    grid-area: 5 / 1 / 6 / 2;
  }
  #product-10 {
    grid-area: 5 / 3 / 6 / 4;
  }
  #product-11 {
    grid-area: 5 / 5 / 6 / 6;
  }
  #product-12 {
    grid-area: 5 / 7 / 6 / 8;
  }

  footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 26% auto 26% auto 26%;
  }

  .links-for-customers,
  .links-general {
    display: flex;
    flex-direction: column;
  }

  #general-footer {
    grid-area: 1 / 1 / 2 / 2;
  }

  #footer-links-1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #customers-footer {
    grid-area: 1 / 3 / 2 / 4;
  }

  #footer-links-2 {
    grid-area: 2 / 3 / 3 / 4;
  }

  #social-media-footer-upper {
    grid-area: 1 / 5 / 2 / 6;
  }

  .social-media-footer {
    grid-area: 2 / 5 / 3 / 6;
  }

  .social-media-footer {
    width: 70%;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 35% 30% 35%;
  }

  #footer-x {
    grid-area: 1 / 1 / 2 / 2;
  }

  #footer-instagram {
    grid-area: 1 / 3 / 2 / 4;
  }

  #footer-facebook {
    grid-area: 3 / 1 / 4 / 2;
  }

  #footer-tiktok {
    grid-area: 3 / 3 / 4 / 4;
  }

  .specific-product {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
  }

  .specific-product img {
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 0;
  }

  .specific-product-information,
  .specific-product-reviews-and-tags {
    padding: 20px 10px 0 10px;
    border: solid 1px var(--color-primary);
    border-top: none;
    border-right: none;
  }

  .specific-product-information {
    margin-bottom: 0;
  }

  .specific-product-reviews-and-tags {
    padding-bottom: var(--small-distance-tablet);
  }

  .section-checkout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 5% 45%;
    padding: var(--medium-distance-tablet) var(--small-distance-tablet);
    border: solid 1px var(--color-primary);
  }

  .checkout-main-heading {
    display: none;
  }

  .checkout-main-heading-2 {
    display: block;
  }

  .checkout-form {
    grid-area: 1 / 1 / 2 / 2;
  }

  .checkout-summary {
    grid-area: 1 / 3 / 2 / 4;
  }

  .main-login,
  .main-register {
    margin: 64px;
  }
}

@media screen and (min-width: 800px) {
  .specific-product-information,
  .specific-product-reviews-and-tags {
    padding: 20px;
  }

  .success-summary h3 {
    font-size: 28px;
  }

  .success-success-message h3 {
    font-size: 20px;
  }

  .summary-details-success h4,
  .items-success h4 {
    font-size: 20px;
  }

  .success-item-price {
    font-size: 18px;
  }

  .success-item-header,
  .success-item-qty {
    font-size: 15px;
  }

  .success-success-message p,
  #continue-shopping-button-2,
  .summary-detail-success h5,
  .summary-detail-success p {
    font-size: 14px;
  }
}

@media screen and (min-width: 860px) {
  .carousel-item-information-window-alt p {
    font-size: 36px;
  }

  .carousel-item-information-window h3 {
    font-size: 30px;
  }

  .carousel-item-information-window-alt h3 {
    font-size: 26px;
  }

  .carousel-item-information-window-alt button {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) {
  .main-login,
  .main-register {
    margin: 128px;
  }

  .qty-picker-spec-product p,
  .specific-product-stars p {
    font-size: 40px;
  }

  .logo,
  h1,
  .product-grid-section h2,
  .summary-table-checkout h3,
  .checkout-main-heading,
  .checkout-main-heading-2,
  .main-success h2,
  .success-summary h3 {
    font-size: 32px;
  }

  #header-upper-right-mobile i,
  .header-dropdown-div a {
    font-size: 28px;
  }

  #header-upper-right-tablet-and-desktop a,
  .specific-product-prices p,
  .cart-summary h3 {
    font-size: 26px;
  }

  footer h3,
  .main-hero-image-text,
  .specific-product-information h2,
  .specific-product-reviews-and-tags h2,
  .cart-stars p,
  .checkout-form-delivery-address legend,
  .checkout-form-payment-option legend,
  .success-success-message h3,
  .social-media-success h3,
  .social-media-success-2 h3 {
    font-size: 24px;
  }

  .qty-picker-spec-product button,
  .qty-picker-cart p {
    font-size: 22px;
  }

  #email-login-page,
  #password-login-page,
  #username-register-page,
  #email-register-page,
  #password-register-page,
  #password-register-page-repeat,
  #login-submit,
  #register-submit {
    font-size: 21px;
  }

  .breadcrumbs ul li,
  .product-start-number-stars p,
  .specific-product-information h3,
  .review-name,
  .trashcan-cart i,
  #continue-shopping-button,
  #continue-shopping-button-2,
  .login-page > p,
  .register-page > p,
  .form-login > p,
  .form-register > p {
    font-size: 20px;
  }

  footer li a,
  .product-start-numbers-container p,
  .add-to-cart-button,
  .share-button,
  .review-text,
  .tag,
  .cart-product-prices p,
  .clear-cart-button,
  #discount-code-input,
  #discount-code-apply-button,
  .summary-categories-cart h4,
  .summary-categories-checkout h4,
  .summary-item-cart p,
  .summary-totals-cart p,
  .summary-item-checkout p,
  .summary-totals-item-checkout p,
  .summary-totals-shipping-checkout p,
  #summary-totals-total-checkout p,
  .success-success-message p,
  .register-checkbox-div label {
    font-size: 18px;
  }

  #searchbar-tablet-and-desktop,
  .cart-product-information h4,
  .summary-table-cart button,
  .checkout-form-delivery-address input,
  .checkout-form-payment-option label,
  #checkout-submit {
    font-size: 16px;
  }

  .product-start-name,
  .carousel-cta,
  .qty-picker-cart button,
  .summary-item-cart h5,
  .summary-totals-cart h5,
  .summary-item-checkout h5,
  .summary-totals-item-checkout h5,
  .summary-totals-shipping-checkout h5,
  #summary-totals-total-checkout h5 {
    font-size: 14px;
  }

  .product-start-cta {
    font-size: 12px;
  }

  .main-success {
    border: solid 2px var(--color-primary);
    padding: 20px;
  }

  .footer-links img {
    width: 50px;
    height: 50px;
  }

  footer {
    grid-template-columns: 29% auto 29% auto 29%;
  }
}

@media screen and (min-width: 1000px) {
  .carousel-item-information-window {
    padding: 22px 40px;
  }

  footer {
    grid-template-columns: 26% auto 26% auto 26%;
  }
}

@media screen and (min-width: 1080px) {
  main,
  .carousel,
  .product-grid-section,
  .main-spec-product {
    margin-left: var(--small-distance-desktop);
    margin-right: var(--small-distance-desktop);
  }

  .header-upper,
  .breadcrumbs {
    padding-left: var(--small-distance-desktop);
    padding-right: var(--small-distance-desktop);
  }

  .product-container-start h3,
  .product-container-start div,
  .summary-item-success-details {
    padding: 0 10px;
  }

  .cart-summary {
    right: var(--small-distance-desktop);
  }

  .cart-product-information {
    padding: 5px 10px;
  }

  .main-success {
    padding: 32px;
  }

  .carousel-item-information-window-alt p {
    font-size: 40px;
  }

  .carousel-item-information-window h3 {
    font-size: 36px;
  }

  .carousel-item-information-window-alt h3 {
    font-size: 30px;
  }

  .social-media-footer img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1180px) {
  footer {
    grid-template-columns: 20% auto 20% auto 20%;
  }
}

@media screen and (min-width: 1280px) {
  .main-login,
  .main-register {
    margin-left: 256px;
    margin-right: 256px;
  }

  main,
  .carousel,
  .product-grid-section,
  .main-spec-product {
    margin-left: var(--medium-distance-desktop);
    margin-right: var(--medium-distance-desktop);
  }

  #continue-shopping-button-2 {
    margin-top: var(--medium-distance-desktop);
    margin-bottom: var(--medium-distance-desktop);
  }

  .success-success-message h3 {
    margin-bottom: var(--medium-distance-desktop);
  }

  .cart-summary {
    right: var(--medium-distance-desktop);
  }

  .header-upper,
  .breadcrumbs {
    padding-left: var(--medium-distance-desktop);
    padding-right: var(--medium-distance-desktop);
  }

  footer {
    padding: var(--medium-distance-desktop) 256px;
  }

  .specific-product {
    display: flex;
  }

  .specific-product img {
    width: 40%;
  }

  .specific-product-information,
  .specific-product-reviews-and-tags {
    width: 30%;
  }

  .summary-item-success img {
    width: 28%;
  }

  footer {
    grid-template-columns: 24% auto 24% auto 24%;
  }
}

@media screen and (min-width: 1366px) {
  main {
    margin-top: var(--big-distance-desktop);
    margin-bottom: var(--big-distance-desktop);
  }

  main,
  .carousel,
  .product-grid-section,
  .main-spec-product {
    margin-left: var(--big-distance-desktop);
    margin-right: var(--big-distance-desktop);
  }

  #continue-shopping-button-2 {
    margin-top: var(--medium-distance-desktop);
    margin-bottom: var(--medium-distance-desktop);
  }

  .carousel {
    margin-bottom: var(--big-distance-desktop);
  }

  .success-success-message h3 {
    margin-bottom: var(--medium-distance-desktop);
  }

  .summary-table-success {
    margin-bottom: var(--small-distance-desktop);
  }

  .cart-summary {
    right: var(--big-distance-desktop);
  }

  .header-upper,
  .breadcrumbs {
    padding-left: var(--big-distance-desktop);
    padding-right: var(--big-distance-desktop);
  }

  footer {
    padding-top: var(--big-distance-desktop);
    padding-bottom: var(--big-distance-desktop);
  }

  .cart-products {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .carousel-item-information-window h3 {
    font-size: 40px;
  }

  .carousel-item-information-window button {
    font-size: 20px;
  }

  .login-page,
  .register-page {
    padding: var(--big-distance-desktop);
  }
}

@media screen and (min-width: 1536px) {
  .carousel-item {
    grid-template-columns: 5% 43% 48% 5%;
    grid-template-rows: 25% 45% 30%;
  }

  .carousel-item-information-window {
    padding: 30px 40px;
  }

  #carousel-item-2,
  #carousel-item-3 {
    grid-template-rows: 28% auto 28%;
  }
}

@media screen and (min-width: 1920px) {
  main,
  .carousel,
  .product-grid-section,
  .main-spec-product {
    margin-left: var(--max-distance-desktop);
    margin-right: var(--max-distance-desktop);
  }

  .header-upper,
  .breadcrumbs {
    padding-left: var(--max-distance-desktop);
    padding-right: var(--max-distance-desktop);
  }

  .cart-summary {
    right: var(--max-distance-desktop);
  }

  footer {
    padding-left: 400px;
    padding-right: 400px;
  }

  .login-page,
  .register-page {
    padding: var(--big-distance-desktop) var(--max-distance-desktop);
  }

  footer {
    grid-template-columns: 20% auto 20% auto 20%;
  }

  .cart-summary {
    width: 38%;
  }
}
