@import "variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 32px 10px;
}

img {
  width: 100%;
}

button {
  text-transform: uppercase;
}

/* ==== REUSABLE ==== */

.color-primary {
  color: var(--color-primary);
}

.background-dark {
  background-color: var(--color-background-secondary);
}

.background-light {
  background-color: var(--color-background-primary);
}

.hidden {
  display: none;
}

.price-line-through {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* ==== HEADER ==== */

.header-upper,
.header-dropdown-div {
  display: flex;
  justify-content: space-between;
}

.header-upper,
.header-dropdown-div,
.breadcrumbs {
  padding: 10px;
}

.header-upper,
.header-dropdown-div {
  border-bottom: solid 4px var(--color-primary);
}

.header-dropdown-div a {
  font-family: var(--font-sub-headers-and-buttons);
  font-size: 20px;
  text-decoration: none;
  color: var(--color-text);
}

.breadcrumbs {
  border-bottom: solid 2px var(--color-primary);
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs ul li {
  font-family: var(--font-text);
  font-size: 12px;
}

.logo {
  font-family: var(--font-logo), sans-serif;
  font-size: 24px;
  color: var(--color-text);
  text-decoration: none;
}

/* ==== FOOTER ==== */

footer {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
}

footer ul {
  list-style: none;
}

footer h3,
footer li a {
  color: var(--color-text-secondary);
}

footer h3 {
  font-family: var(--font-headers);
  font-size: 16px;
  margin-bottom: 10px;
}

footer li a {
  font-family: var(--font-sub-headers-and-buttons);
  font-size: 12px;
  text-decoration: none;
}

footer li a:hover {
  color: #ebebeb;
}

.footer-header {
  width: 100%;
  border-bottom: solid 1px var(--color-text-secondary);
}

.footer-links {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.links-general,
.links-for-customers {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  row-gap: 15px;
  grid-template-areas:
    "one four"
    "two five"
    "three six";
}

.footer-grid-item-one {
  grid-area: one;
}

.footer-grid-item-two {
  grid-area: two;
}

.footer-grid-item-three {
  grid-area: three;
}

.footer-grid-item-four {
  grid-area: four;
}

.footer-grid-item-five {
  grid-area: five;
}

.footer-grid-item-six {
  grid-area: six;
}

.footer-links img {
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
}

/* ==== OFTEN OCCURRING MARGINS/PADDING ==== */

.cart-summary h3 {
  margin: 40px 0;
}

#login-submit,
#register-submit {
  margin: 10px 0 20px 0;
}

.product-start-cta {
  margin: 0 5px;
}

.checkout-summary h3,
.success-summary h3 {
  margin-bottom: 40px;
}

.cart-products > button {
  margin-top: var(--medium-distance-mobile);
}

.carousel,
.product-grid-section h2,
.specific-product-information,
.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.specific-product-reviews-and-tags div,
.cart-h1,
.cart-products > button,
.summary-totals-cart,
.summary-table-cart > div,
.checkout-main-heading,
.summary-table-checkout > div,
.checkout-summary,
.checkout-form-delivery-address,
.main-success h1,
.success-success-message,
.items-success h4,
.success-summary,
#continue-shopping-button,
.login-page h1,
.login-page > p,
.form-login p,
.register-page h1,
.register-page p {
  margin-bottom: var(--big-distance-mobile);
}

.specific-product-information h3,
.specific-product-information div,
.specific-product-reviews-and-tags h3,
.specific-product-reviews-and-tags > p,
.checkout-form-payment-option,
.success-success-message h3,
.summary-details-success h4,
.summary-table-success {
  margin-bottom: var(--medium-distance-mobile);
}

.product-container-start > *,
.specific-product img,
.checkout-form-delivery-address input,
.summary-detail-success,
.summary-item-success,
.social-media-success h3,
.form-login input,
.form-register input {
  margin-bottom: var(--small-distance-mobile);
}

.summary-totals-cart div,
.summary-totals-item-checkout,
.summary-totals-shipping-checkout,
.checkout-form legend {
  margin-bottom: 15px;
}

#summary-totals-checkout,
#summary-totals-total-checkout.breadcrumbs,
#postal-code-checkout {
  margin-bottom: 0;
}

.login-page,
.register-page {
  padding: var(--big-distance-mobile) var(--small-distance-mobile);
}

.product-container-start h3,
.product-container-start div,
.summary-item-success-details {
  padding: 0 5px;
}

.specific-product-information,
.specific-product-reviews-and-tags {
  padding-bottom: var(--medium-distance-mobile);
}

.summary-categories-cart,
.summary-items-cart,
.summary-categories-checkout,
.summary-items-checkout {
  padding-bottom: var(--small-distance-mobile);
}

.cart-summary,
.summary-table-checkout,
.payment-option-div,
.success-summary {
  padding: var(--small-distance-mobile);
}

button,
#discount-code-input,
#discount-code-apply-button,
#checkout-submit,
#login-submit,
#register-submit {
  padding: 8px;
}

.cart-product-information {
  padding: 5px;
}

.qty-picker-spec-product button {
  padding: 2px;
}

.qty-picker-cart button {
  padding: 1px;
}

.specific-product-prices,
.qty-picker-spec-product,
.cart-product-prices {
  gap: var(--small-distance-mobile);
}

.qty-picker-cart {
  gap: 5px;
}

/* Needed to overwrite prev properly */

.specific-product-information,
.success-summary {
  padding-bottom: 0;
}

/* ==== BORDERS ==== */

.cart-summary,
#discount-code-input,
.summary-table-checkout,
.success-summary,
.checkout-form-delivery-address input,
.login-page,
.register-page {
  border: solid 2px var(--color-primary);
}

.payment-option-container {
  border: solid 2px var(--color-primary);
}

.product-container-start,
.cart-product,
.summary-item-success {
  border: solid 2px var(--color-primary);
  border-top: none;
  border-right: none;
}

.specific-product-information,
.specific-product-reviews-and-tags,
.summary-categories-cart,
.summary-items-cart,
.summary-categories-checkout,
.summary-items-checkout,
.payment-option-div {
  border-bottom: solid 2px var(--color-primary);
}

button,
fieldset,
#discount-code-apply-button,
#payment-option-bottom,
#checkout-submit,
#login-submit,
#register-submit {
  border: none;
}

.qty-picker-spec-product button,
.qty-picker-cart button {
  border-radius: 50%;
}

button,
fieldset,
#discount-code-apply-button,
#payment-option-bottom,
#checkout-submit,
#login-submit,
#register-submit {
  border-radius: 4px;
}

/* ==== FONT-FAMILIES ==== */

h1,
.main-hero-image-text,
.product-grid-section h2,
.cart-summary h3,
.summary-table-checkout h3,
.success-summary h3 {
  font-family: var(--font-logo), sans-serif;
}

.product-start-name,
.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.cart-product-information h4,
.summary-item-cart h5,
.summary-totals-cart h5,
.summary-item-checkout h5,
.summary-totals-item-checkout h5,
.summary-totals-shipping-checkout h5,
#summary-totals-total-checkout h5,
.checkout-form-delivery-address legend,
.checkout-form-payment-option legend,
.checkout-form-payment-option label,
.success-success-message h3,
.summary-details-success h4,
.summary-detail-success h5,
.items-success h4,
.success-item-header,
.success-item-qty,
.social-media-success h3 {
  font-family: var(--font-headers), sans-serif;
}

button,
.specific-product-information h3,
.review-name,
#discount-code-input,
#discount-code-apply-button,
#checkout-submit,
.login-page > p,
.register-page > p,
#password-login-page,
#login-submit,
#register-submit {
  font-family: var(--font-sub-headers-and-buttons), sans-serif;
}

.product-start-numbers-container p,
.specific-product-prices p,
.qty-picker-and-size-btn-specific-product > *,
.cart-product-prices p,
.qty-picker-spec-product p,
.qty-picker-cart p,
.summary-item-cart p,
.summary-totals-cart p,
.summary-item-checkout p,
.summary-totals-item-checkout p,
.summary-totals-shipping-checkout p,
#summary-totals-total-checkout p,
.success-item-price {
  font-family: var(--font-numbers);
}

.review-text,
.specific-product-reviews-and-tags a,
.summary-categories-cart h4,
.summary-categories-checkout h4,
.checkout-form-delivery-address input,
.success-success-message p,
.summary-detail-success p,
#email-login-page,
#password-login-page,
.form-login p,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat,
.register-page label,
.register-page p {
  font-family: var(--font-text);
}

/* ==== FONT-SIZES ==== */

.qty-picker-spec-product p,
.specific-product-stars p {
  font-size: 32px;
}

h1,
.product-grid-section h2,
.specific-product-prices p,
.qty-picker-spec-product button,
.cart-summary h3,
.summary-table-checkout h3,
.success-summary h3 {
  font-size: 24px;
}

.specific-product-information h2,
.specific-product-reviews-and-tags h2,
.qty-picker-cart p,
.checkout-form-delivery-address legend,
.checkout-form-payment-option legend {
  font-size: 20px;
}

.main-hero-image-text,
.product-start-number-stars p,
.specific-product-information h3,
.review-name,
.cart-stars p,
.success-success-message h3,
.summary-details-success h4,
.items-success h4,
.social-media-success h3 {
  font-size: 16px;
}

.product-start-numbers-container p,
.review-text,
.tag,
.cart-product-prices p,
.clear-cart-button,
#discount-code-input,
#discount-code-apply-button,
.success-item-price {
  font-size: 14px;
}

.summary-categories-cart h4,
.summary-item-cart p,
.summary-totals-cart p,
.qty-picker-cart button,
.summary-categories-checkout h4,
.summary-item-checkout p,
.summary-totals-item-checkout p,
.summary-totals-shipping-checkout p,
#summary-totals-total-checkout p,
.checkout-form-delivery-address input,
#email-login-page,
#password-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat,
#login-submit,
#register-submit {
  font-size: 13px;
}

.product-start-name,
.add-to-cart-button,
.share-button,
.cart-product-information h4,
.summary-table-cart button,
.checkout-form-payment-option label,
#checkout-submit,
.success-success-message p,
.success-item-header,
.success-item-qty,
#continue-shopping-button,
.login-page > p,
.register-page > p,
.form-login > p,
.form-register > p {
  font-size: 12px;
}

.product-start-cta,
.summary-item-cart h5,
.summary-totals-cart h5,
.summary-item-checkout h5,
.summary-totals-item-checkout h5,
.summary-totals-shipping-checkout h5,
#summary-totals-total-checkout h5,
.summary-detail-success h5,
.summary-detail-success p,
.register-checkbox-div label {
  font-size: 10px;
}

.carousel-cta {
  font-size: 8px;
}

/* ==== FONT-WEIGHT ==== */

.product-start-name,
.product-start-numbers-container p,
.specific-product-information h2,
.specific-product-information h3,
.specific-product-reviews-and-tags h2,
.cart-product-information h4,
.summary-categories-cart h4,
.summary-categories-checkout h4,
.summary-item-cart h5,
.summary-totals-item-cart h5,
.summary-totals-shipping-cart h5,
.summary-totals-total-cart h5 {
  font-weight: 400;
}

/* **KEEP** FONT: --font-headers */

/* **KEEP** FONT: --font-sub-headers-and-buttons */

.review-name {
  font-weight: 500;
}

/* **KEEP** FONT: --font-numbers */

/* **KEEP** FONT: --font-text */

.summary-categories-cart h4 {
  font-weight: 500;
}

.review-text {
  font-weight: 300;
}

/* ==== COLOR ==== */

.carousel button,
.product-start-cta,
.add-to-cart-button,
#discount-code-apply-button,
.summary-table-cart button,
#checkout-submit,
#continue-shopping-button,
#login-submit,
#register-submit {
  background-color: var(--color-primary);
}

.share-button {
  background-color: var(--color-share-button);
}

.clear-cart-button {
  background-color: var(--color-clear-cart-button);
}

.product-grid-section h2,
.cart-h1,
.checkout-main-heading,
.success-success-message h1 {
  color: var(--color-primary);
}

.tag {
  color: var(--color-text);
}

.carousel button,
.product-start-cta,
.add-to-cart-button,
#discount-code-apply-button,
.summary-table-cart button,
#checkout-submit,
#continue-shopping-button,
#login-submit,
#register-submit {
  color: var(--color-text-secondary);
}

.product-start-number-stars p,
.specific-product-stars p,
.cart-stars p {
  color: var(--color-stars-filled);
}

/* ==== HEIGHT ==== */

.cart-product img {
  min-height: 104px;
}

/* ==== WIDTH ==== */

.cart-product {
  width: 100%;
}

.clear-cart-button {
  width: 90%;
}

#discount-code-input {
  width: 60%;
}

.add-to-cart-button {
  width: 50%;
}

#discount-code-apply-button {
  width: 35%;
}

.share-button {
  width: 35%;
}

.qty-picker-spec-product button {
  min-width: 35px;
}

.qty-picker-cart button {
  min-width: 22px;
}

/* ==== DISPLAY/PLACEMENT ==== */

.specific-product-prices,
.cart-products,
.cart-product-prices {
  display: flex;
}

/* ==== START PAGE ==== */

#main-start {
  margin-left: 0;
  margin-right: 0;
}

.carousel-container {
  width: 100%;
}

.main-hero-image-text {
  color: var(--color-primary);
}

.product-grid-section {
  margin-left: 10px;
  margin-right: 10px;
}

.product-grid {
  display: flex;
  justify-content: space-between;
}

.product-container-start {
  width: 48%;
  background-color: #ebebeb;
}

.product-start-numbers-container {
  display: flex;
  gap: var(--small-distance-mobile);
}

.product-start-number-stars {
  display: flex;
}

.product-start-cta {
  width: 94%;
}

/* ==== SPEC PRODUCT PAGE ==== */

.specific-product-stars {
  display: flex;
}

.qty-picker-spec-product {
  display: flex;
}

.specific-product-ctas {
  display: flex;
  justify-content: space-between;
}

/* ==== CART PAGE ==== */

.cart-products {
  flex-direction: column;
  align-items: center;
}

.cart-product {
  display: flex;
}

.cart-product img {
  width: 45%;
}

.cart-product-information {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-stars {
  display: flex;
}

.qty-picker-cart {
  display: flex;
}

.trashcan-cart i {
  color: var(--color-primary);
}

.cart-summary form {
  display: flex;
  justify-content: space-between;
}

.summary-table-cart {
  display: flex;
  flex-direction: column;
}

.summary-categories-cart,
.summary-item-cart {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.summary-totals-item-cart,
.summary-totals-shipping-cart,
.summary-totals-total-cart {
  display: flex;
  justify-content: space-between;
}

/* ==== CHECKOUT ==== */

.payment-option-div img {
  width: 10%;
}

/* ==== SUCCESS ==== */

.summary-item-success {
  display: flex;
}

.summary-item-success img {
  width: 45%;
}

/* ==== LOGIN/REGISTER PAGE ==== */

#password-login-page,
#email-login-page,
#username-register-page,
#email-register-page,
#password-register-page,
#password-register-page-repeat {
  width: 100%;
}

/* ============ TEMPORARY. DELETE LATER. ============ */

.temporary-navigation {
  padding: 20px 0;
}
