:root {
  /* ==== COLORS ==== */

  --color-primary: #6b00ee;
  --color-primary-hover: #5300ba;
  --color-share-button: #0add46;
  --color-share-button-hover: #09ba3c;
  --color-clear-cart-button: #ff6040;
  --color-clear-cart-button-hover: #db5337;
  --color-stars-filled: #e3e302;
  --color-add-button: #8cffad;
  --color-add-button-hover: #78db95;
  --color-subtract-button: #ff6040;
  --color-subtract-button-hover: #db5337;

  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  --color-background-primary: #ffffff;
  --color-background-secondary: #646464;
  --color-background-tertiary: #eef2f2;

  /* ==== FONTS ==== */

  --font-logo: "Julius Sans One";
  --font-headers: "Kiwi Maru";
  --font-sub-headers-and-buttons: "Momo Trust Sans";
  --font-numbers: "Libertinus Serif";
  --font-text: "Source Sans 3";

  /* ==== MARGINS & PADDING ====*/

  --big-distance-mobile: 32px;
  --medium-distance-mobile: 20px;
  --small-distance-mobile: 10px;
  --tiny-distance-mobile: 5px;

  --big-distance-tablet: 64px;
  --medium-distance-tablet: 40px;
  --small-distance-tablet: 20px;

  --max-distance-desktop: 256px;
  --big-distance-desktop: 128px;
  --medium-distance-desktop: 64px;
  --small-distance-desktop: 40px;
}
