:root {
  /* ==== COLORS ==== */

  --color-primary: #6b00ee;

  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  --color-background-primary: #ffffff;
  --color-background-secondary: #646464;

  /* ==== FONTS ==== */

  --font-logo: "Julius Sans One";
  --font-headers: "Kiwi Maru";
  --font-sub-headers: "Momo Trust Sans";
  --font-numbers: "Libertinus Serif";
  --font-text: "Source Sans 3";
}
