:root {
  /* ==== COLORS ==== */

  --color-primary: #6b00ee;
  --color-share-button: #0add46;
  --color-clear-cart-button: #ff6040;

  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  --color-background-primary: #ffffff;
  --color-background-secondary: #646464;

  /* ==== FONTS ==== */

  --font-logo: "Julius Sans One";
  --font-headers: "Kiwi Maru";
  --font-sub-headers-and-buttons: "Momo Trust Sans";
  --font-numbers: "Libertinus Serif";
  --font-text: "Source Sans 3";

  /* ==== MARGINS & PADDING ====*/

  --big-distance-mobile: 32px;
  --medium-distance-mobile: 20px;
  --small-distance-mobile: 10px;
  --tiny-distance-mobile: 5px;
}
